{{ $found_url := urls.Parse .Params.found_url }}


  <header>

      <h1><a href="/">Gelungenes <span>Die Kunst des schönen Satzes</span></a></h1>

      <p id="meta">gefunden am {{ .Params.found_at }} auf <a href="{{ .Params.found_url }}" rel="external">{{ replace $found_url.Host "www." "" }}</a></p>

  </header>

  <main>
    <section id="content">
    <blockquote id="quote" cite="{{ .Params.found_url }}">

      <p>{{ .Title }}</p>

    </blockquote>

    <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      <span class="wd">{{ .Date.Format "Mon" }},</span>
      <span class="d">{{ .Date.Day }}.</span>
      <span class="m">{{ .Date.Format "Jan" }}.</span>
    </time>
    </section>

    <nav>

    {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" class="prev" title="Vorheriger Satz"><span>‹<span></a>
    {{ end }}

    {{ with .NextInSection }}
        <a href="{{ .Permalink }}" class="next" title="Nächster Satz"><span>›<span></a>
    {{ end }}
    </nav>

  </main>
